body {
	font: 14px/1.55 'CiscoSansLight', Arial,'Liberation Sans',FreeSans,sans-serif;
}
.glasspane {
	background: #049fd9; 
	height: 40px; 
	width: 850px; 
	display: inline; 
	float: left;
}
.glasspane h1 {
	opacity: 1; 
	color: #fff; 
	margin-top: 2px; 
	margin-bottom: 0; 
	font-weight: normal; 
	font-size:25px; 
	padding-left:10px
}
.table {
	margin: 10px 0 0 0; 
	float:left; 
	background-color: #eee; 
	padding: 10px;
}

td:first-child {
	width: 116px;
}

input, textarea {
	width: 700px; 
	display: block;
}

textarea {
	height: 140px;
}

.wrapper {
	width: 900px; 
	float:left;
}